@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
	--font-angry: var(--font-angry);
	--font-lazy-dog: var(--font-lazy-dog);

	--font-sans: var(--font-lazy-dog), system-ui, sans-serif;
}
