---
import Gehu from "@/assets/gehu_btl_mono.svg";
import Wecode from "@/assets/wecode.svg";
import { Icon } from "astro-icon/components";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;

const socials = [
	{
		name: "globe",
		url: "https://www.wecode.college/",
	},
	{
		name: "instagram",
		url: "https://www.instagram.com/wecode_gehu/",
	},
	{
		name: "linkedin",
		url: "https://www.linkedin.com/company/wecodegehu/",
	},
	{
		name: "discord",
		url: "https://discord.gg/tfpcapMCz4",
	},
	{
		name: "map",
		url: "https://maps.app.goo.gl/8z3yMh2s3KUmShTt8",
	},
];
---

<footer
	class:list={[
		"flex flex-col items-center justify-center text-center mt-20 gap-4",
		className,
	]}
	{...Astro.props}
>
	<div class="flex flex-row align-middle justify-center items-center gap-5">
		{
			socials.map((social) => (
				<a href={social.url} target="_blank">
					<Icon
						name={social.name}
						class="h-8 w-8 text-white/75 hover:text-white transition-colors duration-200 ease-in-out"
					/>
				</a>
			))
		}
	</div>

	<div>
		<p>
			&copy; {new Date().getFullYear()} Hack The Winter. All rights reserved.
		</p>

		<p class="text-white/75">
			<span class="text-nowrap">We Code Club,</span>
			<span class="text-nowrap">Graphic Era Hill University,</span>
			<span class="text-nowrap">Bhimtal Campus</span>
		</p>
	</div>

	<div class="flex flex-row align-middle justify-between items-center gap-6">
		<a href="https://www.wecode.college/" target="_blank">
			<Wecode class="h-16 w-auto" />
		</a>
		<a href="https://gehu.ac.in/bhimtal/" target="_blank">
			<Gehu class="h-16 w-auto" />
		</a>
	</div>

	<p>
		Designed by Lakshyajeet Jalal (<a
			href="https://linktr.ee/mglsj"
			target="_blank"
			class="underline">@mglsj</a
		>)
	</p>
</footer>
