---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;

const navigation = [
	...(import.meta.env.DEV
		? [
				{
					title: "Admin",
					href: "/keystatic",
				},
			]
		: []),
	{
		title: "About",
		href: "/about/",
	},
	{
		title: "Contact",
		href: "/contact/",
	},
];
---

<header
	class:list={[
		"flex flex-row items-center justify-between align-middle",
		className,
	]}
	id="top"
>
	<a href="/" class="relative font-angry tracking-wider italic text-2xl">
		Hack The Winter
	</a>
	<!-- <nav class="hidden sm:flex flex-row gap-4">
		{navigation.map((item) => <a href={item.href}>{item.title}</a>)}
	</nav> -->
</header>
