---
import Fonts from "@/components/partials/Fonts.astro";
import Head, {
	type Props as HeadProps,
} from "@/components/partials/Head.astro";
import "@/styles/global.css";

export interface Props extends HeadProps {
	class?: string;
}

const { class: className, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
	<head>
		<Head {...props} />
		<Fonts />
	</head>
	<body
		class:list={[
			"min-h-lvh",
			"overflow-x-hidden",
			"flex flex-col",
			"px-2",
			"text-white",
			"bg-black",
			className,
		]}
	>
		<slot />
	</body>
</html>
